/* 공통 */
.w-layout {
    width:1170px;
    margin: 0 auto;
}

input {
    outline: none;
}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

/* header-area css 정의 */
.header-area {
    width:100%;
    height:94px;
    background: #f0f0f0;
    position: absolute;
    top:0;
}


.header-area .container {
    height:100%;
    display: flex;
}

.header-area .logo h1 {
    margin:0;
    padding:0;
    height:100%;
    display: none;
}

.header-area .logo h1 img {
    width:70%;
}

.header-area a {
    display: flex;
    align-items: center;
    height:100%;
    text-decoration: none;
    color:#313131;
    transition: all 0.3s;
}

.header-area .list {
    display: flex;
    flex:1;
}

.header-area .nav {
    flex:2;
    font-size:1.2rem;
    font-weight: 600;
}

.header-area .util {
    flex: 1;
    font-size:0.8rem;
}

.header-area ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height:100%;
}

.header-area .nav ul li {
    margin:0 0.82rem;
}

.header-area .util ul li {
    margin:0 0.2rem;
    cursor: pointer;
}

.header-area .nav ul li a:hover {
    color:rgb(63, 211, 100);
}

/* header-area 를 가진 태그에 추가된 class  */
#sticky-wrapper {
    position: relative;
    z-index: 9999;
}

.top-fix {
    position: sticky;
    top:0;
    background: white;
    height:60px;
    border-bottom:1px solid #eeeeee;
    transition:all 1s;
}

.top-fix .logo h1 {
    display: block;
}

/* main-area CSS 영역 */
.main-area {
    width:100%;
    background:#f0f0f0 url('https://d81pi4yofp37g.cloudfront.net/wp-content/uploads/home2_01.png') 50% 100% no-repeat;
    height:480px;
}

.main-area .main {
    height:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-area h1 {
    margin:0;
    padding:0;
    font-weight: normal;
}

.main-area .box {
    width:50%;
    height:100%;
    padding:4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-area .search {
    width:100%;
    display: flex;
}

.main-area .search form {
    display: flex;
    width:100%;
    margin: 1rem 0;
}

.main-area .search input[type="text"] {
    flex: 1;
    border:none;
    background: white;
    font-size:1.2rem;
    padding:1rem;
    text-align: center;
    height:65px;
}

.main-area .search input[type="submit"] {
    border:none;
    background: white;
    color:rgb(63, 211, 100);
    font-size:0.82rem;
    font-weight: 600;
    padding:0 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.main-area .search input[type="submit"]:hover {
    background: rgb(63, 211, 100);
    color:white;
}

.main-area p {
    font-size:1.4rem;
    letter-spacing: -1px;
    margin:0;
    padding:0;
    margin-bottom:2rem;
}

.main-area .slide {
    width:100%;
    height:100px;
    position: relative;
}

.main-area .slide .lecture {
    width:384px;
    overflow: hidden;
    margin:0 auto;
    padding:0;
    display: flex;
    align-items: center;
    height:100%;
    flex-wrap: nowrap;
}


.main-area .slide .lecture li {
    margin:0 8px;
}

.main-area .slide .lecture img {
    width:80px;
}

.main-area .arrow {
    display: flex;
    width:100%;
    align-items: center;
    height:100%;
    color:white;
    font-size:4rem;
}

.main-area .arrow span:hover {
    color:rgb(63, 211, 100);
    cursor: pointer;
}

.main-area .arrow .right-icon {
    position: absolute;
    height:100%;
    right:0;
    top:10%;
}

.main-area .arrow .left-icon {
    position: absolute;
    height:100%;
    left:0;
    top:10%;
}


/* contents-area */
.contents-area .ad ul {
    display: flex;
    justify-content: space-between;
    margin-top:2rem;
}


.contents-area .ad li {
    width:30%;
}

.contents-area .ad img {
    width:100%;
    margin-bottom:2rem;
}

.contents-area h3 {
    border-bottom:1px solid #cccccc;
}

.contents-area h3:after {
    content:'';
    display: block;
    border:1px solid rgb(63, 211, 100);
    width:170px;
    margin-top:1.1rem;
}




/* card 공통사항 */
.card .star {
    color:#FFCB10;
    margin-bottom:2rem;
}

.card .info {
    font-weight: 600;
    display: flex;
}

.card h4 {
    font-size:1.2rem;
    margin:0;
    margin-bottom:1rem;
}

.card h4 a {
    text-decoration: none;
    color:#333333;
    transition: all 0.2s;
}

.card h4 a:hover {
    color:rgb(63, 211, 100);
}

.card img {
    width:100%;
}

.card .price {
    color:rgb(63, 211, 100);
}

.card .student {
    flex:1;
}

.card .lecture-info {
    padding:1rem;
}

/* contents-area new-lecture */
.new-lecture {
    position: relative;
    margin-bottom:2rem;
}

.new-lecture .card-wrap {
    width:1170px;
    display: flex;
    align-content: space-between;
    align-items:flex-start;
    overflow: hidden;
    padding-bottom:1rem;
}

.new-lecture .card-wrap .card {
    margin-right: 2.2rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.12);
}

.new-lecture .card-wrap .card img {
    width:200px;
}

.contents-area .new-lecture .btn {
    position: absolute;
    right:0;
    top:1rem;
    font-size:1.2rem;
    color:rgb(63, 211, 100);
}

.contents-area .new-lecture .btn span {
    cursor: pointer;
}


/* card recommend-lecture */
.recommend-lecture .card-wrap {
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
    flex-wrap: wrap;
}

.recommend-lecture .card {
    width:280px;
    margin-bottom:1rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.12);
}

/* footer-area */
.footer-area {
    margin-top:3rem;
    border-top:1px solid #cccccc;
}

.footer-area .container {
    display: flex;
    justify-content:space-between;
    padding:2rem 0;
}

.footer-area .container .btn {
    width:250px;
    display: block;
    text-align: center;
    font-size:1.3rem;
    color:white;
    text-decoration: none;
}

.footer-area .container .green {
    background: #22af41;
    margin-bottom:1rem;
    padding:0.5rem 0;
}

.footer-area .container .blue {
    background: #368dc0;
    padding:0.5rem 0;
}

.footer-area .container .f-text {
    font-size:1.2rem;
    width:500px;
}